@import '../abstracts/variables';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	font-size: $font-size;
	line-height: $baseline;
	color: $black;
	font-family: $font-family;
}

ul {
	list-style: none;
}

input {
	font-size: $font-size;
	height: $baseline * 1.5;
	margin-bottom: $baseline * .5;
	padding: .8rem;
}

button {
	font-size: $font-size;
}

input::placeholder {
	font-family: $font-family;
	color: $gray200;
}
