@import '../abstracts/functions';

$primary: hsl(230, 50%, 55%);
$primary-dark: hsl(230, 40%, 45%);
$red: hsl(0, 65%, 55%);
$green: hsl(100, 80%, 40%);
$black: hsl(230, 5%, 30%);
$white: hsl(0, 0%, 100%);
$gray25: hsl(230, 10%, 98%);
$gray50: hsl(230, 10%, 95%);
$gray100: hsl(230, 10%, 80%);
$gray200: hsl(230, 10%, 60%);
$gray300: hsl(230, 5%, 45%);
$gray400: hsl(230, 5%, 40%);
$gray500: hsl(230, 5%, 35%);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

$font-size: 1.6rem;
$baseline: calc-lh($font-size, 1.5);

$font-family: 'Source Sans Pro', sans-serif;
