@import '../abstracts/functions';

$primary: hsl(230, 50%, 55%);
$primary-dark: hsl(230, 40%, 45%);
$red: hsl(0, 65%, 55%);
$green: hsl(100, 80%, 40%);
$black: hsl(230, 5%, 30%);
$white: hsl(0, 0%, 100%);
$gray50: hsl(230, 15%, 95%);
$gray100: hsl(230, 15%, 80%);
$gray200: hsl(230, 15%, 60%);
$gray300: hsl(230, 5%, 46%);
$gray400: hsl(230, 5%, 40%);
$gray500: hsl(230, 5%, 30%);

$font-size: 1.6rem;
$baseline: calc-lh($font-size, 1.5);

$font-family: 'Source Sans Pro', sans-serif;
