$black: #333;
$white: #fff;
$gray100: #dcdbdb;
$gray200: #cacaca;
$gray300: #878787;
$gray400: #5e5e5e;
$gray500: #525252;

$font-size: 1.6rem;
$baseline: $font-size * 1.5;

$font-family: 'Public Sans', sans-serif;
