@import '../../sass/abstracts/variables';

.form-footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.8rem;

	& button {
		height: 4rem;
		background-color: $gray300;
		color: $white;
		border: none;
		padding: .8rem 2.4rem;
		cursor: pointer;
		border-radius: .4rem;

		&:hover {
			background-color: $primary;
		}
	}
}
