@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form {
	max-width: 68rem;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: $box-shadow;
	overflow: hidden;

	& label {
		display: block;
	}

	@include respond(500) {
		border-radius: 0;
	}
}
