@import '../../sass/abstracts/variables';

.form-setup {
	margin-bottom: 6.4rem;

	&__category {
		margin-bottom: 5.6rem;

		& input {
			width: 100%;
		}
	}

	&__section {
		& input {
			flex: 1 1 auto;
		}
	}

	&__add-btn {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2.4rem;
	}

	&__sort {
		display: flex;
		justify-content: center;
		margin-bottom: 1.6rem;

		& div {
			width: 12rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& input {
				height: 2.4rem;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
	}
}
