@import '../../sass/abstracts/variables';

.form-score {
	margin-bottom: 4.8rem;

	& input {
		width: 100%;
		text-align: right;
	}

	&__average {
		display: flex;
		justify-content: flex-end;
		border-top: .1rem solid $gray300;
		padding-top: $baseline * .5;
		margin-bottom: ($baseline) + ($baseline * .5);
		margin-top: $baseline;
	}
}
