.form-save {
	margin-top: 2.4rem;
	width: 100%;
	max-width: 40rem;
	display: flex;
	flex-direction: column;

	& h1 {
		text-align: center;
	}

	& input {
		width: 100%;
	}

	& button {
		width: 100%;
	}
}
