@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form {
	max-width: 68rem;
	margin: 0 auto;
	border-bottom: 8px solid $primary;
	border-radius: 2px;
	box-shadow: $box-shadow;

	& label {
		display: block;
	}

	@include respond(500) {
		border-radius: 0;
		border-bottom: 4px solid $primary;
		margin-top: 2.4rem;
	}
}
