@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form-section {
	border-left: 2px solid $primary;
	padding-left: .8rem;
	margin-left: -1.2rem;

	@include respond(500) {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
	}
}
