@import '../../sass/abstracts/variables';

.form-score {
	margin-bottom: 4.8rem;

	& input {
		width: 100%;
		text-align: right;
	}

	&__average {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: .8rem;
		padding-top: 1.6rem;
		padding-right: .8rem;
		margin-bottom: .8rem;

		& h2 {
			margin-bottom: 0;
		}

		& span {
			font-size: 1.6rem;
			font-weight: 400;
			color: $gray300;
			margin-right: .8rem;
		}
	}
}
