@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form {
	width: 100%;
	max-width: 70.4rem;
	margin: 0 auto;
	border-top: 8px solid $primary;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

	& label {
		display: block;
	}

	@include respond(500) {
		border-radius: 0;
	}
}
