@import '../../sass/abstracts/variables';
.form-reset {
	margin-top: 4rem;

	& h3 {
		color: $black;
		margin-bottom: 4rem;
		text-align: center;
	}

	&__warning {
		text-align: center;
		color: $gray200;
	}
}
