@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form {
	width: 100%;
	max-width: 70.4rem;
	margin: 0 auto;
	border-bottom: .8rem solid $primary;
	border-bottom-right-radius: .2rem;
	border-bottom-left-radius: .2rem;

	@include respond(500) {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	& label {
		display: block;
	}
}
