@import '../../sass/abstracts/variables';

.form-nav {
	display: flex;
	justify-content: center;
	margin-bottom: $baseline * 2;

	&__btn {
		width: 33.33%;
		border: none;
		height: 4.8rem;
		background-color: $gray300;
		color: $white;
		cursor: pointer;
	}

	&__btn--active {
		background-color: $black;
		color: $white;
	}
}
