@import '../../sass/abstracts/variables';

.setup-input {
	&__group {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border: .1rem solid $gray200;
		margin-bottom: .8rem;
		border-radius: .2rem;

		& input {
			border: none;
			margin-bottom: 0;
			border-top-left-radius: .4rem;
			border-bottom-left-radius: .4rem;
		}
	}
}
