@import '../../sass/abstracts/variables';

.btn {
	height: 4rem;
	background-color: $gray300;
	color: $white;
	border: none;
	padding: .8rem 2.4rem;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 2.4rem;

	&:hover {
		background-color: $primary;
	}
}

.link {
	color: $primary;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: $black;
		text-decoration: underline;
	}
}
