@import '../../sass/abstracts/variables';

.btn {
	height: 4rem;
	padding: .8rem 2.4rem;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 2.4rem;
}

.btn--primary {
	background-color: $gray400;
	color: $white;
	border: none;

	&:hover {
		background-color: $primary;
	}
}

.btn--delete {
	background-color: transparent;
	color: $red;
	border: 1px solid $red;

	&:hover {
		background-color: $red;
		color: $white;
	}
}

.link {
	color: $primary;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: $black;
		text-decoration: underline;
	}

	&:disabled {
		color: $gray100;
		text-decoration: none;
		cursor: not-allowed;
	}
}

.link--delete {
	color: $red;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: $black;
		text-decoration: underline;
	}

	&:disabled {
		color: $gray100;
		text-decoration: none;
		cursor: not-allowed;
	}
}
