@import '../../sass/abstracts/variables';

.delete-btn {
	height: $baseline * 1.5;
	width: $baseline * 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	border: .1rem solid $gray400;
	border-radius: 50%;
	background-color: $gray400;
	color: $white;
	cursor: pointer;
}
