@import '../../sass/abstracts/variables';

.delete-btn {
	height: 4rem;
	width: 4.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray100;
	cursor: pointer;

	&:hover {
		color: $red;
	}
}
