@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.panel {
	width: 100%;
	background-color: $white;
	padding: 6rem 4.8rem;
	box-shadow: $box-shadow;
	border-top: 4px solid $primary;
	border-radius: 2px;

	@include respond(500) {
		padding: 2.4rem;
		border-top: none;
		box-shadow: none;
	}
}
