@import '../../sass/abstracts/variables';

.footer {
	grid-column: 1/end;
	grid-row: 3/end;
	background-color: $gray400;
	padding: 8rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;
}

.bc-logo {
	width: 16rem;
}
