@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.header {
	display: flex;
	align-items: center;
	grid-column: 1/end;
	grid-row: 1/2;
	background-color: $primary;
	padding: 1.6rem;
	display: flex;
	align-items: center;

	& img {
		width: 14.4rem;

		@include respond(500) {
			width: 9.6rem;
		}
	}
}
