@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-column: 1/end;
	grid-row: 1/2;
	background-color: $primary;
	padding: 1.6rem;

	& img {
		width: 12rem;

		@include respond(500) {
			width: 9.6rem;
		}
	}

	& a {
		display: flex;
		align-items: center;
	}
}
