@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-column: 1/end;
	grid-row: 1/2;
	background-color: $primary;

	& img {
		width: 12rem;
		margin-left: 1.6rem;

		@include respond(500) {
			width: 9.6rem;
		}
	}

	& a {
		display: flex;
		align-items: center;
	}

	& .main-nav {
		height: 100%;

		& li:last-of-type {
			border-left: .1rem solid $primary-dark;
			height: 100%;
			width: 8rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
