.edit-user-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.6rem;

	& h3 {
		margin-top: 1.6rem;
		margin-bottom: .8rem;
	}

	& input {
		width: 100%;
	}

	& input:not(:last-of-type) {
		margin-bottom: 1.6rem;
	}

	& button {
		margin-top: 3.6rem;
	}
}
