@import '../../sass/abstracts/mixins';

.edit-user-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.6rem;

	@include respond(500) {
		max-width: 100%;
	}

	& h3 {
		align-self: flex-start;
		margin-top: 1.6rem;
		margin-bottom: .8rem;
	}

	& input {
		width: 100%;
	}

	& input:not(:last-of-type) {
		margin-bottom: 1.6rem;
	}

	& button.link {
		align-self: flex-start;
		margin-bottom: 2.4rem;
	}

	& button.btn {
		margin-top: 3.6rem;
	}
}
