@import '../../sass/abstracts/mixins';
@import '../../sass//abstracts/variables';

.edit-user-details {
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;

	@include respond(500) {
		max-width: 100%;
	}

	& h3 {
		margin-top: 1.6rem;
		margin-bottom: .8rem;
	}

	& input {
		width: 100%;
	}

	& input:not(:last-of-type) {
		margin-bottom: 1.6rem;
	}

	&__submit {
		margin-top: 3.6rem;

		& button {
			width: 100%;
		}
	}

	& .link {
		align-self: flex-start;
		margin-bottom: 2.4rem;
	}

	&__delete {
		border-top: .2rem solid $gray100;
		padding-top: 2.4rem;
		width: 100%;
		text-align: center;
	}
}
