.user-dashboard {
	padding: 1.6rem;

	&__user-info {
		margin-bottom: 4rem;
		& div:last-of-type {
			margin-bottom: .8rem;
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
	}
}

.past-ranking-controls {
	display: flex;
	justify-content: flex-end;
	margin-right: -1.6rem;
}
