@import '../../sass/abstracts/mixins';

.modal__controls {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@include respond(500) {
		justify-content: space-between;
		margin-bottom: 1.6rem;
	}

	& .btn {
		margin-bottom: 0;
	}
}
