@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.form-nav {
	display: flex;
	justify-content: center;

	&__btn {
		width: 100%;
		border: none;
		height: 4.8rem;
		background-color: $gray50;
		color: $gray100;
		cursor: pointer;

		@include respond(500) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&:hover {
			background-color: $primary;
			color: $white;

			@include respond(500) {
				background-color: $white;
				color: $gray300;
			}
		}

		&:not(:last-of-type) {
			border-right: 1px solid $gray100;
		}
	}

	&__btn--active {
		background-color: $white;
		color: $gray300;
		border-top: .4rem solid $primary;
	}
}
