@import '../../sass/abstracts/variables';

.accordion__body {
	max-height: 0;
	visibility: hidden;

	&--open {
		max-height: 100rem;
		background-color: $gray50;

		padding: 1.6rem;
		visibility: visible;
		transition: max-height .15s ease-out;
	}
}
